@import "../../styles/index.scss";

body {
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", sans-serif;
}

.content-container {
  display: flex;
  width: max-content;
  margin: 50px 20px;
  border: 10px solid $border;
  text-transform: uppercase;
  font-weight: bold;
  color: $text;
}

.active {
  color: $textActive;
  border: 5px solid $textActive;
}

.non-item {
  color: white;
}
