@import '../common/styles/vars';

.rightBlock {
  font-weight: 500;

  &__title {
    font-weight: 600;
    color: $textColor;
  }

  &__subtitle {
    font-size: 1.3rem;
    color: $textActive;
    line-height: 3em;
  }

  &__item {
    opacity: 0.5;
    border: 5px solid $white;
  }
}

.contentTable {
  color: $textColor;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
