@import "../../styles/index.scss";

.right-block {
  font-weight: bold;

  &__title {
    font-weight: bold;
  }
  &__content {
    font-size: 1.3rem;
  }
}

.table {
  height: $cellSize;
}
.title-table {
  display: grid;
  grid-template-columns: repeat(7, $cellSize);
  color: $textActive;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.content-table {
  display: grid;
  grid-template-columns: repeat(7, $cellSize);
  grid-template-rows: repeat(6, $cellSize);
  color: #b8b8b8;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
    &:hover {
      color: $textActive;
    }
  }
}
